<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    
    <header>
        {% block header %}
        {% endblock %}
    </header>
   

   
    <main>
        {% block main %}
            
          
                
           
        {% endblock %}
    </main>
    <footer class="footer-distributed">
        {% block footer %}
        {% endblock %}
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>